:root
{
    --dark-bg: rgb(24, 21, 28);
    --light-blue:#72ccd4;
    --purle:#3b2c50;
    --light-purple: #493861;
    --grey-disabled:#5f6464;
    --light-yellow:#c4a557;
    --card-purple:#312537;
}


body
{
    background-color: var(--dark-bg);
    color: var(--light-blue)
}

.navbar-brand
{
    color: var(--light-blue)
}

.btn-primary, .btn-info, .btn-lg, .btn
{
    background-color: var(--purle) !important;
    color: var(--light-blue) ;
    border-color: var(--light-purple);
}

.btn-primary:hover, .btn-info:hover, .btn-lg:hover, .btn:hover
{
    background-color:  var(--light-blue) !important;
    color: var(--dark-bg);
    border-color: var(--light-purple) ;
}

.btn-primary[disabled], .btn-info[disabled], .btn-lg[disabled], .btn[disabled], .btn-secondary[disabled], .btn-success[disabled]
{
    background-color:  var(--grey-disabled) !important;
    color:  var(--purle);
    border-color: var(--light-purple) ;
}
.footer
{
    background-color: var(--dark-bg) !important ;
}


footer .text-muted
{
    font-size: 0.7em;
    color:var(--light-blue) !important;
}

.bi, .bi-person-circle, .table, .table-custom, .table-hover, .table-custom th,
.table-custom td
{
    background-color: #3b2c50 ;
    color:#72ccd4;
    border-color: #72ccd4 ;
}


.badge {
    font-size: 1em;
    padding: 0.5em;
}

.bg-secondary {
    background-color: #858953 !important;
    color: #72ccd4 !important;
}

.bg-success {
    background-color: #538969 !important;
    color: #ffffff !important;
}

.bg-danger {
    background-color: #895353 !important;
    color: #ffffff !important;
}

.bg-primary {
    background-color: #535789 !important;
    color: #ffffff !important;
}

.card 
{
    color: var(--light-blue) !important;
    background-color: var(--card-purple);
    border-color: var(--card-purple);
}
.card a
{
    color: var(--light-yellow) !important ;
}

input
{
    background-color: var(--purle) !important;
    color: var(--light-blue) ;
    border-color: var(--light-purple);
}

input::placeholder
{
    color: var(--light-yellow) !important;
}

input:placeholder-shown
{
    color:var(--light-yellow);
    background-color: var(--light-purple);
}

input:valid

