body
{
    background-color: rgb(24, 21, 28);
    color:#72ccd4
}

.navbar-brand
{
    color:#72ccd4
}

.btn-primary, .btn-info, .btn-lg, .btn
{
    background-color: #3b2c50 !important;
    color: #72ccd4 ;
    border-color: #493861;
}

.btn-primary:hover, .btn-info:hover, .btn-lg:hover, .btn:hover
{
    background-color:  #72ccd4 !important;
    color:  #3b2c50;
    border-color: #493861 ;
}

.btn-primary[disabled], .btn-info[disabled], .btn-lg[disabled], .btn[disabled], .btn-secondary[disabled]
{
    background-color:  #5f6464 !important;
    color:  #3b2c50;
    border-color: #493861 ;
}

.footer,span
{
    background-color: rgb(24, 21, 28) !important ;
    color:#72ccd4;
    border-color: #72ccd4 ;
    
}

.bi, .bi-person-circle, .table, .table-custom, .table-hover, .table-custom th,
.table-custom td
{
    background-color: #3b2c50 ;
    color:#72ccd4;
    border-color: #72ccd4 ;
}


.badge {
    font-size: 1em;
    padding: 0.5em;
}

.bg-secondary {
    background-color: #858953 !important;
    color: #72ccd4 !important;
}

.bg-success {
    background-color: #538969 !important;
    color: #ffffff !important;
}

.bg-danger {
    background-color: #895353 !important;
    color: #ffffff !important;
}

.bg-primary {
    background-color: #535789 !important;
    color: #ffffff !important;
}


