{% extends "layout.html" %}
{% block title %}Area Personale{% endblock %}
{% block content %}

<div class="container mt-5 text-center">
    <h1>Area Personale</h1>
    <p>Benvenuto nel tuo area personale, {{user.nome}}!</p>
</div>

<div class="d-grid gap-2 col-6 mx-auto">
    <a href="{{ url_for('characters.create_char') }}" class="btn btn-success btn-lg">Crea Personaggi</a>
    <a href="{{ url_for('characters.mostra_personaggi') }}" class="btn btn-primary btn-lg">Lista personaggi</a>
    <a href="{{ url_for('auth.edit_user') }}" class="btn btn-warning btn-lg">Modifica informazione utente</a>
    {# Pulsante per l'eliminazione dell'utente. Al premere del bottone apparirà un messaggio di conferma se si vuole elminare l'utente#}
    <a href="{{ url_for('auth.delete_user', id=user.id) }}"
        class="btn btn-danger btn-lg"
        onclick="return confirm('Sei sicuro di voler eliminare il tuo account?');">
        Elimina Utente
    </a>
</div>
{% if message %}
    <p class="p mb-4">{{ message }}</p>
{% endif %}
{% endblock %}