{% extends "layout.html" %}
{% block title %}Battaglia{% endblock %}

{% block content %}
<div class="container my-4">
    <div class="row">
        <div class="col-12 text-center mb-4">
            <h1>{{ missione.nome }}</h1>
        </div>
    </div>
    <div class="row">

        <!-- card personaggi del giocatore -->
        <div class="col-md-3">
            <div class="card mb-3">
                <div class="card-header bg-primary text-white">
                    <h5 class="mb-0 text-center">
                        <i class="bi bi-emoji-smile-fill me-2"></i>
                        Personaggi
                    </h5>
                </div>
                <ul class="list-group list-group-flush">
                    {% for pg in personaggi %}
                        <li class="list-group-item">
                            <h6>{{ pg.nome }}</h6>
                            {% if pg.sconfitto() %}
                            <span class="badge badge-danger">Morto</span>
                            {% else %}
                            <span class="badge badge-success">Vivo</span>
                            {% endif %}
                            <p class="mb-1">Attacco: {{ pg.attacco_min }} - {{ pg.attacco_max }}</p>
                        </li>
                    {% else %}
                        <li class="list-group-item">Nessun personaggio presente</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <!-- card log di battaglia -->
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header bg-dark text-white">
                    <h5 class="mb-0 text-center">
                        <i class="bi bi-newspaper me-2"></i>
                        Log di Battaglia
                    </h5>
                </div>
                <div class="card-body border-dark p-0">
                    <div class="log-container p-3 text-center" style="max-height: 500px; overflow-y: auto; background-color: #f8f9fa;">
                        {% for log in messaggi %}
                            <p class="mb-2">{{ log }}</p>
                        {% else %}
                            <p class="text-muted">In attesa di eventi di combattimento...</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <!-- card nemici -->
        <div class="col-md-3">
            <div class="card mb-3">
                <div class="card-header bg-danger text-white">
                    <h5 class="mb-0 text-center">
                    <i class="bi bi-emoji-angry-fill me-2"></i>
                    Nemici</h5>
                </div>
                <ul class="list-group list-group-flush">
                    {% for n in nemici %}
                        <li class="list-group-item">
                            <h6>{{ n.nome }}</h6>
                            {% if n.sconfitto() %}
                            <span class="badge badge-danger">Morto</span>
                            {% else %}
                            <span class="badge badge-success">Vivo</span>
                            {% endif %}
                            <p class="mb-1">Attacco: {{ n.attacco_min }} - {{ n.attacco_max }}</p>
                        </li>
                    {% else %}
                        <li class="list-group-item">Nessun nemico presente</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </div>
{% if battaglia_finita %}
    <div class="row">
        <div class="col-12 text-center mb-4">
            {% if vittoria %}
                <h1 class="h1">Vittoria</h1>
            {% else %}
                <h1 class="h1">Sconfitta</h1>
            {% endif %}
        </div>
    </div>
{% else %}
<meta http-equiv="refresh" content="2">
<div class="row">
    <div class="col-12 text-center mb-4">
        <h3 class="h3">Battaglia in corso</h3>
    </div>
</div>
{% endif %}
{% endblock content %}
