{% extends "layout.html" %}
{% block title %}Fight{% endblock %}

{% block content %}
<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card shadow">
                <div class="card-header bg-dark text-white">
                    <h5 class="mb-0">
                        <i class="fas fa-scroll me-2"></i>
                        Log di Battaglia
                    </h5>
                </div>
                <div class="card-body border-dark p-0">
                    <div class="log-container" style="max-height: 500px; overflow-y: auto;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>

</style>
{% endblock content %}