{% extends "layout.html" %}
{% block title %}Creazione Personaggio{% endblock %}

{% block content %}
    <h1>Creazione del personaggio</h1>
    <form method="POST">

        <label for="nome">Nome personaggio:</label>
        <input type="text" id="nome" name="nome" required>
        <br>

        <label for="classe">Classe:</label>
        <select id="classe" name="classe" required>
            {% for c in classi %}
            <option value="{{ c }}">{{ c }}</option>
            {% endfor %}
        </select>
        <br>

        <label for="oggetto">Oggetto iniziale:</label>
        <select id="oggetto" name="oggetto" required>
            {% for o in oggetti %}
            <option value="{{ o }}">{{ o }}</option>
            {% endfor %}
        </select>
        <br>

        <button type="submit">Conferma</button>

    </form>
{% endblock %}

