<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('home.index') }}">RPG Web</a>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto">
        <li class="nav-item"><a class="nav-link" href="{{ url_for('home.index') }}">Home</a></li>
      </ul>
      {% if current_user.is_authenticated %}
      <div class="d-flex ms-auto align-items-center gap-3 text-white">
        <a href="{{url_for('auth.edit_user')}}" class="text-decoration-none text-white">
          <div class="d-flex align-items-center gap-1">
            <strong>User:</strong> {{ current_user.nome }} <i class="bi bi-person-circle"></i>
          </div>
        </a>
        <a href="{{url_for('auth.credit_refill')}}" class="text-decoration-none text-white">
          <div class="d-flex align-items-center gap-1">
            <strong>Crediti:</strong> {{ current_user.crediti|int }}
            <img src="{{ url_for('static', filename='img/bitcoin4.png') }}" alt="coin" style="height: 1.5em;">
          </div>
        </a>
        <a class="btn btn-primary" href="{{ url_for('auth.personal_area') }}">Area Personale</a>
        <a class="btn btn-outline-danger" href="{{ url_for('auth.logout') }}">Logout</a>
      </div>
      {% endif %}
    </div>
  </div>
</nav>