{% extends "layout.html" %}
{% block title %}Menu iniziale{% endblock %}

{% block content %}
<h2>Benvenuto nel gioco GDR</h2>
<p>Seleziona un'opzione per iniziare.</p>
<div class="d-grid gap-2 col-6 mx-auto">
    <a href="{{ url_for('inventory_pb.test_inventory') }}" class="btn btn-primary btn-lg mb-2">Test Inventario</a>
    <a href="{{ url_for('mission_bp.select_mission') }}" class="btn btn-success btn-lg mb-2">Seleziona Missione</a>

    <a href="{{ url_for('environment_bp.select_environment') }}" class="btn btn-success btn-lg mb-2">Seleziona Ambiente</a>
    <a href="{{ url_for('environment_bp.show_environment') }}" class="btn btn-warning btn-lg mb-2">Mostra Ambiente</a>
    <a href="{{ url_for('characters.create_char') }}" class="btn btn-primary btn-lg mb-2">Crea Personaggi</a>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}