{% extends "layout.html" %}
{% block title %}Battaglia{% endblock %}

{% block content %}


<h1 class="text-center">Grid</h1>
<div class="container">
    <div class="row">

        <div class="mb-4 col-sm-12 col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body">
                </div>
            </div>
        </div>

        <div class="mb-4 col-sm-12 col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body">
                </div>
            </div>
        </div>

    </div>
</div>

<h1 class="text-center">Flexbox</h1>
<div class="d-flex gap-4">

    <div class="card">
        <div class="card-body">
        </div>
    </div>

    <div class="card">
        <div class="card-body">
        </div>
    </div>

</div>

<h1 class="text-center">Card group</h1>
<div class="card-group">
    <div class="card">
        <div class="card-body">
        </div>
    </div>

    <div class="card">
        <div class="card-body">
        </div>
    </div>

    <div class="card">
        <div class="card-body">
        </div>
    </div>

    <div class="card">
        <div class="card-body">
        </div>
    </div>

    <div class="card">
        <div class="card-body">
        </div>
    </div>

    <div class="card">
        <div class="card-body">
        </div>
    </div>

    <div class="card">
        <div class="card-body">
        </div>
    </div>

    <div class="card">
        <div class="card-body">
        </div>
    </div>

    <div class="card">
        <div class="card-body">
        </div>
    </div>

    <div class="card">
        <div class="card-body">
        </div>
    </div>

    <div class="card">
        <div class="card-body">
        </div>
    </div>

    <div class="card">
        <div class="card-body">
        </div>
    </div>

    <div class="card">
        <div class="card-body">
        </div>
    </div>
</div>
{% endblock content %}