{% extends "layout.html" %}
{% block title %}Crea Missione{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center flex-column py-5">
  <form method="post" class="card shadow-sm p-4 mb-4" style="max-width: 800px; width: 100%;">
    <h1 class="h4 text-center mb-4">Crea una nuova missione</h1>

    <div class="mb-3">
      <label for="nome" class="form-label">Nome Missione</label>
      <input type="text" name="nome" id="nome" class="form-control" required>
    </div>

    <div class="mb-3">
      <label for="ambiente" class="form-label">Tipo di Ambiente</label>
        <select id="ambiente" name="ambiente" class="form-select" required>
        {% for s in ambienti %}
          <option value="{{ s }}">{{ s }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="mb-3">
      <label for="strategia_nemici" class="form-label">Strategia dei Nemici</label>
      <select id="strategia" name="strategia" class="form-select" required>
        {% for s in strategia %}
          <option value="{{ s }}">{{ s }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="mb-3">
      <label for="classe_nemico" class="form-label">Classe nemico</label>
      <select id="classe_nemico" name="classe_nemico" class="form-select" required>
        {% for c in classi %}
          <option value="{{ c }}">{{ c }}</option>
        {% endfor %}
      </select>
    </div>

    <h5 class="mt-4">Nemici</h5>

    {% for i in range(2) %}
      <div class="border rounded p-3 mb-3">
        <h6>Nemico {{ i + 1 }}</h6>
        <div class="row">
          <div class="col-md-4 mb-2">
            <label for="nome_{{ i }}">Nome</label>
            <input type="text" name="nome_{{ i }}" class="form-control" required>
          </div>
          <div class="col-md-4 mb-2">
            <label for="salute_max_{{ i }}">Salute Max</label>
            <input type="number" name="salute_max_{{ i }}" class="form-control" required>
          </div>
          <div class="col-md-4 mb-2">
            <label for="salute_{{ i }}">Salute</label>
            <input type="number" name="salute_{{ i }}" class="form-control" required>
          </div>
          <div class="col-md-4 mb-2">
            <label for="att_min_{{ i }}">Attacco Min</label>
            <input type="number" name="att_min_{{ i }}" class="form-control" required>
          </div>
          <div class="col-md-4 mb-2">
            <label for="att_max_{{ i }}">Attacco Max</label>
            <input type="number" name="att_max_{{ i }}" class="form-control" required>
          </div>
          <div class="col-md-4 mb-2">
            <label for="destrezza_{{ i }}">Destrezza</label>
            <input type="number" name="destrezza_{{ i }}" class="form-control" required>
          </div>
        </div>
      </div>
    {% endfor %}


    <div class="mb-3">
      <label for="oggetti_nemici" class="form-label">Oggetti nemici</label>
      <select id="oggetti_nemici" name="oggetti_nemici" class="form-select" required>
        {% for o in oggetti %}
          <option value="{{ o }}">{{ o }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="mb-3">
      <label for="premi_missione" class="form-label">Premi</label>
      <select id="premi_missione" name="premi_missione" class="form-select" required>
        {% for on in oggetti %}
          <option value="{{ on }}">{{ on }}</option>
        {% endfor %}
      </select>
    </div>

    <button type="submit" class="btn btn-outline-primary w-100">Salva Missione</button>
  </form>

  <a href="{{ url_for('mission.select_mission') }}" class="btn btn-outline-secondary mt-3">← Torna alla selezione missione</a>
</div>
{% endblock %}