{%extends "layout.html"%}
{%block title%} Login {% endblock %}
{% block content%}
<div class="justify-content-center align-items-center">
    <form method="POST" class="card shadow-sm p-4">
        <h2 style="text-align: center;">Accedi al tuo account</h2>

        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" name="email" placeholder="Inserisci la tua email" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" id="password" name="password" placeholder="Inserisci la password" class="form-control" required>
        </div>

        <div class="mb-3 text-center">
            <label class="form-label">Non hai un account? <a href="{{ url_for('auth.sign_in') }}">Registrati</a></label>
        </div>

        <div class="mb-3 text-center">
            <button type="submit" class="btn btn-success btn-lg mb-2">Accedi</button>
        </div>
    </form>
</div>

{%endblock%}
